body {
  font-family: "Darker Grotesque", Arial, sans-serif;
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
}

#nav-bar {
  width: 100vw;
  background: #000;
  color: #fff;
  padding: 1rem 0;
  top: 0;
  left: 0;
  z-index: 100;
  position: relative;
}

#nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

#nav-bar .rule-group {
  font-weight: 700;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid white;
  padding-left: 1.25rem;
  border-radius: 2px;
}

#nav-bar .poem-title {
  font-weight: 700;
  font-size: 1.1rem;
  flex-basis: 100%;
}

#nav-bar .variations {
  display: flex;
  gap: 0.25rem;
  margin: 0;
  padding: 0 0 0 0.5rem;
}

#nav-bar button {
  background: #fff;
  color: #000;
  border: none;
  border-radius: 2px;
  padding: 0.2rem 0.7rem;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
}

#nav-bar button:hover {
  background: #000;
  color: #fff;
  outline: 1px solid #fff;
}

#nav-bar button.active {
  background: #000;
  color: #fff;
  outline: 1px solid #fff;
  font-weight: 700;
}

.poem-container {
  width: 100vw;
  min-height: 100vh;
  background: #fff;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.7;
  letter-spacing: 0.01em;
}

.inverted-colors {
  background-color: #000 !important;
  color: #fff;
}

.words-text span {
  display: inline-block;
  margin: 0.25rem;
}

/* SIZE */

/* 01 */

.size.size-01 p {
  font-weight: 700;
  line-height: 0.6;
  display: inline-block;
}

.size.size-01 .sm {
  font-size: 1rem;
  width: 25rem;
  position: relative;
  top: 5rem;
  left: -3.5rem;
}

.size.size-01 .sm:nth-child(4) {
  top: 4rem;
  left: -9rem;
}

.size.size-01 .sm:nth-child(6) {
  left: -5rem;
}

.size.size-01 .lg {
  font-size: 10rem;
  width: 55rem;
  margin: 12rem 0;
}

/* 02 */

.size.size-02 p {
  font-weight: 700;
  line-height: 0.6;
  display: inline-block;
}

.size.size-02 .sm {
  font-size: 1rem;
  width: 25rem;
  position: relative;
  top: 5rem;
  left: -3.5rem;
}

.size.size-02 .sm {
  top: 4rem;
  left: 0rem;
}

.size.size-02 .lg {
  font-size: 6rem;
  width: 55rem;
}

.size.size-02 .md {
  font-size: 2rem;
  width: 55rem;
  margin: 10rem 0;
}

/* 03 */

.size.size-03 {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.size.size-03 p {
  line-height: 0.9;
}

.size.size-03 .stanza-1 {
  font-size: 6rem;
  line-height: 1.2;
  margin-top: 0;
}

.size.size-03 .stanza-2 {
  position: fixed;
  top: 20rem;
  width: 70%;
  margin: 0 auto;
}

.size.size-03 .stanza-3 {
  position: fixed;
  top: 35rem;
  width: 70%;
  margin: 0 auto;
}

.size.size-03 .stanza-4 {
  position: fixed;
  top: 56.5rem;
  width: 70%;
  margin: 0 auto;
}

/* 04 */

.size.size-04 {
  padding: 2rem 0;
  min-height: 100vh;
}

.size.size-04 p {
  font-size: 5rem;
  line-height: 0.6;
  padding: 0;
  margin: 0;
}

.size.size-04 .sm {
  font-size: 1.25rem;
  line-height: 0.8;
  width: 60%;
}

.size.size-04 .lg {
  font-size: 5rem;
  line-height: 0.6;
  margin-bottom: 1.5rem;
}

.size.size-04 .stanza-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.size.size-04 .stanza-wrapper-1,
.size.size-04 .stanza-wrapper-3 {
  margin: 0 0 10rem -0.05rem;
}

.size.size-04 .stanza-wrapper-2 {
  margin: 0 0 10rem -0.05rem;
  text-align: right;
  align-items: flex-end;
}

.size.size-04 .stanza-wrapper-4 {
  margin: 10rem -0.05rem 0 0;
  text-align: right;
  align-items: flex-end;
}

/* CASE */

/* 01 */
.case.case-01 p {
  font-size: 3rem;
  line-height: 0.75;
  margin: 0.5rem 0;
  text-transform: lowercase;
  font-weight: 600;
  text-align: right;
}

.case.case-01 .lg {
  margin-bottom: 10rem;
  text-align: left;
}

.case.case-01 .br {
  height: 5rem;
}

/* 02 */
.case.case-02 p {
  position: relative;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  width: 25vw;
  margin: 5rem 0 5rem 2vw;
  line-height: 0.8;
}

.case.case-02 .sm {
  position: relative;
  left: 33vw;
}

.case.case-02 .lg.instance-2 {
  position: relative;
  left: 70vw;
}

/* 03 */
.case.case-03 p {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.case.case-03 .split-lines-left {
  text-transform: uppercase;
  text-align: right;
}

.case.case-03 .split-lines-right {
  text-align: left;
}

.case.case-03 .split-lines-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 2rem;
}

.case.case-03 .split-lines-wrapper:nth-child(even) {
  justify-self: flex-end;
}

/* 04 */
.case.case-04 {
  padding: 0.5rem 0;
  min-height: 100vh;
}

.case.case-04 p {
  font-size: 2.5rem;
  line-height: 0.65;
  margin: 0.5rem 0;
  text-transform: uppercase;
  font-weight: 500;
}

.case.case-04 .lg {
  margin-left: 4rem;
}

.case.case-04 .md {
  margin-left: 1rem;
}

/* WEIGHT */

/* 01 */

.weight.weight-01 p {
  font-size: 4rem;
  line-height: 0.75;
  margin: 0.5rem 0;
}

.weight.weight-01 p span {
  margin: 0 0.5rem;
}

.weight.weight-01 .lg {
  font-weight: 900;
}

.weight.weight-01 .md {
  font-weight: 600;
}

/* 02 */
.weight.weight-02 p {
  font-size: 2.5rem;
  line-height: 0.9;
  margin: 0.5rem 0;
}

.weight.weight-02 .split-lines-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}

.weight.weight-02 .split-lines-right {
  text-align: right;
  font-weight: 700;
}

/* 03 */

.weight.weight-03 {
  width: auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.weight.weight-03 p {
  font-size: 2.5rem;
  line-height: 0.9;
}

.weight.weight-03 .stanza-1 {
  font-weight: 900;
}

.weight.weight-03 .stanza-2 {
  font-weight: 400;
  text-align: right;
}

.weight.weight-03 .stanza-3 {
  font-weight: 300;
}

.weight.weight-03 .stanza-4 {
  font-weight: 800;
  text-align: right;
}

.weight.weight-03 .stanza-wrapper {
  width: 45%;
}

/* 04 */

.weight.weight-04 {
  margin: -5.5rem 0 0 0;
}

.weight.weight-04 p {
  font-size: 4rem;
  line-height: 0.6;
  padding: 0;
  margin: 0;
  font-weight: 900;
  width: 75%;
}

.weight.weight-04 .stanza-wrapper {
  position: relative;
  width: 100%;
  margin-top: 5rem;
}

.weight.weight-04 .instance-1 {
  position: relative;
  z-index: 10;
}

.weight.weight-04 .instance-2 {
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  text-align: right;
  z-index: 1;
  right: 0;
  top: 0;
}

/* ORIENTATION */

.orientation {
  position: relative;
  top: 2rem;
}

.orientation p {
  font-weight: 800;
  font-size: 4rem;
  line-height: 0.8;
}

/* 01 */
.orientation-01 {
  padding: 2rem;
  top: 0;
}

.orientation-01 .sm {
  transform: rotate(180deg);
  text-align: right;
}

.orientation-01 p {
  margin: 1.5rem;
}

.orientation-01 .br {
  height: 8rem;
}

/* 02 */
.orientation-02 .stanza-1 {
  transform: rotate(-20deg);
  position: relative;
  top: 4.5rem;
  left: -7rem;
  text-align: center;
  width: 110vw;
}

.orientation-02 .stanza-2 {
  position: relative;
  top: 14rem;
  left: -0.5rem;
}

.orientation-02 .stanza-3 {
  transform: rotate(20deg);
  position: relative;
  top: 27rem;
  left: -7rem;
  text-align: center;
  width: 110vw;
}

.orientation-02 .stanza-4 {
  position: relative;
  top: 35rem;
  left: -0.5rem;
}

/* 03 */

.orientation-03 {
  top: 0;
  padding: 2rem;
}

.orientation-03 p {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
  position: relative;
}

.orientation-03 p:nth-child(even) {
  margin: 7.5rem 0 0 0;
}

.orientation-03 .md {
  display: inline-block;
  position: relative;
  top: -2rem;
}
.orientation-03 .sm {
  display: inline-block;
  transform: rotate(45deg);
  position: relative;
  top: 1em;
  margin: 0 0 2rem 0;
}
.orientation-03 .xs {
  display: inline-block;
  position: relative;
  top: 2rem;
}
.orientation-03 .lg {
  display: inline-block;
  transform: rotate(-90deg);
  margin: 2rem -1rem;
}

/* 04 */

.orientation-04 p {
  transition: transform 0.3s;
  margin: 0;
  padding-top: 2.5rem;
}

.orientation-04 p:nth-of-type(6n + 1),
.orientation-04 p:nth-of-type(6n + 2),
.orientation-04 p:nth-of-type(6n + 3) {
  text-align: left;
  padding-left: 2vw;
}
.orientation-04 p:nth-of-type(6n + 1) {
  transform: rotate(-15deg);
  padding: 6rem 0;
}
.orientation-04 p:nth-of-type(6n + 2) {
  transform: rotate(0deg);
  padding: 6rem 1.5rem;
}
.orientation-04 p:nth-of-type(6n + 3) {
  transform: rotate(15deg);
  padding: 6rem 0;
}

.orientation-04 p:nth-of-type(6n + 4),
.orientation-04 p:nth-of-type(6n + 5),
.orientation-04 p:nth-of-type(6n + 6) {
  text-align: right;
  padding-right: 2vw;
}
.orientation-04 p:nth-of-type(6n + 4) {
  transform: rotate(15deg);
  padding: 6rem 0;
}
.orientation-04 p:nth-of-type(6n + 5) {
  transform: rotate(0deg);
  padding: 6rem 1.5rem;
}
.orientation-04 p:nth-of-type(6n + 6) {
  transform: rotate(-15deg);
  padding: 6rem 0;
}

/* MOTION */

.motion .stanza-wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.motion p {
  font-size: 1.25rem;
  font-weight: 600;
}

/* 01 */
.motion.motion-01 {
  display: flex;
  flex-direction: column;
}

.motion.motion-01 .cloud-group {
  animation: cloud-flow 12s ease-in-out infinite alternate;
  will-change: transform, width;
}
.motion.motion-01 .cloud-group:nth-child(1) {
  animation-delay: 0s;
  align-self: flex-end;
  width: 30em;
}
.motion.motion-01 .cloud-group:nth-child(2) {
  animation-delay: 1s;
  align-self: flex-start;
  width: 30em;
}

/* 02 */
.motion.motion-02 .stanza-wrapper {
  position: absolute;
  left: 0;
  right: auto;
  width: 60vw;
  border-radius: 2rem;
  padding: 1.5rem 2rem;
  margin: 0;
  text-align: center;
  opacity: 1;
  background: none;
}
.motion.motion-02 {
  position: relative;
  min-height: 80vh;
}
.motion.motion-02 .stanza-wrapper:nth-child(1) {
  animation: cloud-sweep-right 18s ease-in-out infinite alternate;
  left: -30vw;
  top: 5vh;
  z-index: 4;
  animation-delay: 1s;
}
.motion.motion-02 .stanza-wrapper:nth-child(2) {
  animation: cloud-sweep-left 18s ease-in-out infinite alternate;
  right: -30vw;
  left: auto;
  top: 25vh;
  z-index: 3;
  animation-delay: 0.5s;
}
.motion.motion-02 .stanza-wrapper:nth-child(3) {
  animation: cloud-sweep-right 18s ease-in-out infinite alternate;
  left: -30vw;
  top: 45vh;
  z-index: 2;
}
.motion.motion-02 .stanza-wrapper:nth-child(4) {
  animation: cloud-sweep-left 18s ease-in-out infinite alternate;
  right: -30vw;
  left: auto;
  top: 65vh;
  z-index: 1;
  animation-delay: 2s;
}
@keyframes cloud-sweep-right {
  0% {
    left: -30vw;
  }
  100% {
    left: 70vw;
  }
}
@keyframes cloud-sweep-left {
  0% {
    right: -30vw;
  }
  100% {
    right: 70vw;
  }
}

/* 03 */

.motion.motion-03 {
  position: relative;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.motion.motion-03 .stanza-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 21vw;
  max-width: 420px;
  border-radius: 2rem;
  padding: 1.2rem 1.2rem;
  margin: 0;
  opacity: 0;
  display: block;
  animation: cloud-float 18s cubic-bezier(0.6, 0.1, 0.4, 1) 1;
  animation-fill-mode: forwards;
}
.motion.motion-03 .stanza-wrapper:nth-child(1) {
  left: 3vw;
  animation-delay: 0s;
}
.motion.motion-03 .stanza-wrapper:nth-child(2) {
  left: 27vw;
  animation-delay: 2s;
}
.motion.motion-03 .stanza-wrapper:nth-child(3) {
  left: 51vw;
  animation-delay: 1s;
}
.motion.motion-03 .stanza-wrapper:nth-child(4) {
  left: 75vw;
  animation-delay: 3s;
}

@keyframes cloud-float {
  0% {
    transform: translateY(60vh) scale(0.95);
    opacity: 0;
  }
  10% {
    opacity: 0.7;
  }
  30% {
    opacity: 1;
  }
  60% {
    transform: translateY(-2vh) scale(1.03);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

/* 04 */
.motion.motion.motion-04 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.motion.motion-01 .cloud-group,
.motion.motion-04 .cloud-group {
  display: inline-block;
  border-radius: 2rem;
  padding: 2.5rem 3rem;
  margin: 2rem 2vw;
  text-align: center;
}
.motion.motion-01 .cloud-group {
  animation: cloud-flow 12s infinite alternate ease-in-out;
}
.motion.motion-04 .cloud-group {
  will-change: transform;
}
.motion.motion-04 .cloud-group:nth-child(1) {
  animation: cloud-spin-circle 10s linear infinite alternate;
  animation-delay: 0s;
}
.motion.motion-04 .cloud-group:nth-child(2) {
  animation: cloud-spin-circle-left 10s linear infinite alternate;
  animation-delay: 1s;
}
@keyframes cloud-flow {
  0% {
    width: 30vw;
  }
  50% {
    width: 55vw;
  }
  100% {
    width: 35vw;
  }
}

/* Hide individual stanza wrappers for these cases */
.motion.motion-01 .stanza-wrapper,
.motion.motion-04 .stanza-wrapper {
  display: none;
}

@keyframes cloud-spin-circle {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  25% {
    transform: rotate(45deg) translate(2vw, -2vw);
  }
  50% {
    transform: rotate(90deg) translate(4vw, 0vw);
  }
  75% {
    transform: rotate(135deg) translate(2vw, 2vw);
  }
  100% {
    transform: rotate(180deg) translate(0, 0);
  }
}
@keyframes cloud-spin-circle-left {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  25% {
    transform: rotate(-45deg) translate(-2vw, -2vw);
  }
  50% {
    transform: rotate(-90deg) translate(-4vw, 0vw);
  }
  75% {
    transform: rotate(-135deg) translate(-2vw, 2vw);
  }
  100% {
    transform: rotate(-180deg) translate(0, 0);
  }
}
